.body-element{
    /* display: grid;
    grid-template-columns: repeat(2, 6fr); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column-reverse; */
}
.btn-link{
    text-decoration: none !important;
    border: 2px solid white;
    /* padding: 5px; */
    margin-top: 15px;
}
.img-div img:hover{
    transition: transform 4s ease-in-out;
    transform: rotate(1turn);
}


@media only screen and (min-width:360px) and (max-width:992px) 
{
    .body-element{
       flex-direction: column;
    }
    .inner, p{
        margin: 0;
        padding-bottom: 20px;
        font-size: small;
        font-weight: 100;
        font-family: sans-serif;
    }
    .img-div img{
        width: 350px;
    }
    .btn-link{
        font-family:Garamond, serif ;
    }
}

/* .adv{
    color: midnightblue;
} */